// closing the dialog box
$( "invitation_form" ).dialog( "close" )

//making sure we won't display the flash notice more than once
$( "#flash_notice" ).remove();

//showing a flash message
$( "#container" ).prepend( '<div id="flash_notice">Successfully shared the folder.</div>');

// removing the css class 'folder'
$("#folder_<%= params[:folder_id] %>").removeClass("folder");

// adding the css class 'shared_folder'
$("#folder_<%= params[:folder_id] %>").addClass("shared_folder")
