/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	font-family: "Lucida Grande","Verdana","Arial","Bitstream Vera Sans",sans-serif; 
	background:  #efefef;
	font-size:   12px;
}

header {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	padding:0 20px;
}

.logo {
	display:block;
	width:50%;
	float:left;
	padding:0;
	margin:0;
}

.logo a {
	color: #338DCF; 
	text-decoration:none;
	font-weight:bold;
	text-shadow: 2px 2px 2px #FFFFFF; 
}

#container {
	width: 900px;
	margin: 0 auto;
	background: #fff;
	padding: 20px 40px;
	border: solid 1px #bfbfbf;
}

#login-status {
	display:block;
	padding-top:25px;
	float:right;
	width:50%;
	text-align:right;
}

.asset_list_header, .asset_list, .asset_details { 
	width:900px;
	font-weight:bold;
	font-size:12px;
	overflow:hidden;
}

.file_name_header, .file_name {
	width:350px;
	float:left;
	padding-left:20px;
}

.file_size_header, .file_size {
	width:100px;
	float:left;
}

.file_last_updated_header, .file_last_updated {
	width:150px;
	float:left;
}

.asset_list {
	padding:20px 0;
}

.asset_details {
	font-weight:normal;
	height:25px;
	line-height:25px;
	border: 1px solid #fff;
	width:890px;
	color: #4f4f4f;
}

.asset_details a, .asset_details a:visited {
	text-decoration:none;
	color:#1d96ef;
	font-size:12px;
}

#menu {
	width:900px;
	padding:0 20px;
	margin:20px auto;
	overflow:hidden;
}

#menu ul {
	padding:0;
	margin:0;
}

#menu ul li {
	list-style:none;
	float:left;
	display:block;
	margin-right:10px;
}

#menu ul li a, #menu ul li a:visited {
	display:block;
	padding: 0 15px;
	line-height: 25px;
	text-decoration: none;
	color: #45759f;
	background:#eff8ff;
	border: 1px solid #cfebff;
}

#menu ul li a:hover, #menu ul li a:active {
	background: #dff1ff;
	border: 1px solid #afddff;
}

.folder{
	background:url("../images/folder.png") no-repeat scroll left center transparent; 
}

.file{
	background:url("../images/file.png") no-repeat scroll left center transparent;
}

.folder.asset_details:hover, .shared_folder.asset_details:hover, .file.asset_details:hover {
	border:1px solid #DFDFDF; 
}

.folder.asset_details:hover {
	background:url("../images/folder.png") no-repeat scroll left center #EFEFEF; 
}

.shared_folder {
	background:url("../images/shared_folder.png") no-repeat scroll left center transparent; 	
}

.shared_folder.asset_details:hover {
	background:url("../images/shared_folder.png") no-repeat scroll left center #EFEFEF;  
}

.file.asset_details:hover {
	background:url("../images/file.png") no-repeat scroll left center #EFEFEF;  
}

.breadcrumbs {
	margin :10px 0;
	font-weight:bold;
}

.breadcrumbs a{
	color: #1d96ef;
	text-decoration:none;
}

.actions {
	float:float:right;
	font-size:10px;
}

.share, .rename, .download, .delete {
	float:left;
}

.asset_details .share a, .asset_details .rename a, .asset_details .download a, .asset_details .delete a {
	border: 1px solid #cfe9ff;
	font-size: 10px;
	margin-left: 5px;
	padding: 0 2px;
}

.asset_details .share a:hover, .asset_details .rename a:hover, .asset_details .download a:hover, .asset_details .delete a:hover{
	border: 1px solid #8fcdff;
}

.asset_details .delete a {
	color: #bf0b12;
	border: 1px solid #ffcfd1;
}

.asset_details .delete a:hover {
	color: #bf0b12;
	border: 1px solid #ff8f93;
}

.ui-button-text-only .ui-button-text {
	font-size: 12px;
	padding: 3px 10px !important;
}

.share .ui-button-text-only .ui-button-text {
	padding: 0 2px !important;
	font-size: 11px;
	font-weight: normal;
}

#invitation_form {
	font-size:12px;
	display:none;
}

#invitation_form label {
	font-weight: bold;
}

#invitation_form input.text {
	width: 480px;
	height: 20px;
	font-size:12px;
	color: #7f7f7f;
}

#invitation_form textarea{
	width: 480px;
	height: 100px;
	font-size:12px;
	color: #7f7f7f;
}



